html,
body {
  margin: 0;
  padding: 0;
}
.button {
  display: block;
  width: 350px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 50px;
  padding: 10px 30px;
  border-width: 0;
  border-radius: 5px;
  background-color: #56B13B;
  color: #ffffff;
  font-size: 24px;
}
.grid .container {
  width: 1200px;
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-column-gap: 25px;
  padding-top: 100px;
  background-color: #fbeecb;
}
.grid .container .ag {
  padding-top: 100px;
  border-radius: 5px;
}
.grid .container .ag-1 {
  align-self: start;
  background-color: #71DAD2;
}
.grid .container .ag-2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 25px;
  background-color: #FAE7B3;
}
.grid .container .ag-3 {
  align-self: start;
  background-color: #71DAD2;
}
.grid .container .ag-4 {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #EE9E9C;
}
.grid .container .ag-5 {
  grid-column-start: 4;
  grid-column-end: 7;
  background-color: #EE9E9C;
}
.grid .container .ag-6 {
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: start;
  background-color: #F09671;
}
.grid .container .ag-7 {
  grid-column-start: 3;
  grid-column-end: 7;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  background-color: #F6D784;
}
.grid .container .ag-8 {
  background-color: #EE9E9C;
}
.grid .container .ag-9 {
  background-color: #EE9E9C;
}
.grid .container .ag-10 {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #EA9FC3;
}
